<a href="https://colab.research.google.com/github/youngseo21/stat_programming/blob/main/Chap_4_Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# # is used in comment
print("Hello world")

Hello world

In [ ]:
# 3 + 5
print(3 + 5)

# 3 - 5
print(3 - 5)

# 3 × 5
print(3 * 5)

# 3 ÷ 5
print(3 / 5)

print(103 % 5) # 나머지

print(3 ** 4)  # 3의 4제곱

8
-2
15
0.6
3
81

In [2]:
n = "dog"
print(n)

n = 14
n *= 5 # n = n*5
n

dog

70

In [ ]:
# cannot use function name as variable name
#print = "Hello"
#print(print) # TypeError: 'str' object is not callable

In [ ]:
x = 1
print(x)
x = x + 1
print(x)

1
2

In [ ]:
m = "cat"
print(m)

m = "dog"
print(m)

n = 14
n *= 5
print(n)

cat
dog
70

In [4]:
m = "Ahn"
print("my name "+ m + "cool")

"Ahn" + "Jaeyoun"
"Ahn" + " Jaeyoun"

my name Ahncool

'Ahn Jaeyoun'

In [ ]:
height = 177
print("my height is"+ height + "in cm.") # "TypeError: must be str, not int"

TypeError: ignored

In [7]:
height = 177
print("my height is"+ " 177 " + "in cm.") # "TypeError: must be str, not int"

my height is 177 in cm.

In [ ]:
height = 177
print(type(height) )

height2 =177.0
print(type(height2) )

<class 'int'>
<class 'float'>

In [9]:
177 == 177.0

True

In [10]:
h = 177
print("height is" + str(h) + "in cm.")

str(h)
int(str(h))

height is177in cm.

177

In [11]:
greeting = "yo!"
print(greeting * 2)

greeting * 10

yo!yo!

'yo!yo!yo!yo!yo!yo!yo!yo!yo!yo!'

In [14]:
n = "10"
print(n * 3)

101010

In [12]:
print(1 + 1 == 3)

False

In [13]:
# "!=": not equal
print(4 + 6 != -10)

True

In [18]:
n = 2
if n == 2: # 땡땡 중요
        print("your rank is", n) # n이 2일 때만 표시됩니다
        print("Hi"). # 줄이 맞아야 한다
print("Hello")

your rank is 2
Hi
Hello

In [17]:
n = 3
if n == 2: # 땡땡 중요
    print("your rank is", n) # n이 2일 때만 표시됩니다
    print("Hi")
print("Hello")

Hello

In [21]:
n = 5

if n > 15 :
    print("large number")
else:
    print("small number")

print("Hi!")

small number
Hi!

In [23]:
number = 5 # 등수

if number == 1:
    print("Gold medal!")
elif number == 2:  # else if = elif
    print("Silver!")
elif number == 3:
    print("Bronze!")
else:
    print("No medal!")

print("The end!")

No medal!
The end!

In [27]:
n = 14

if n > 15: 
    print("큰 숫자")
elif n >= 11 and n <= 15:
    print("중간 숫자")

# Example: elif를 사용하여 n이 11 이상 15 이하일 때 "중간 숫자"라고 출력하세요

중간 숫자

Example 1> Checks if the number is positive (>=), zero or negative (<) and displays an appropriate message using 
* if and elif.
* if and else.

In [26]:
n = 50.0
if n > 0 :
  print("positive")
elif n == 0 :  # not n = 0
  print("zero")
else :  
  print("negative")

positive

In [29]:
n = -50.0
if n > 0:
  print("positive")
else:
  if n == 0:
    print("zero")
  else:
    print("negative")

negative

In [30]:
# Multiple condition: use "and"
print((15 > 8) & (16 < 14))  # True and False --> False
print((15 > 8) and (16 < 14))  # True and False --> False
print(not 14 < 15) # not True --> False

False
False
False

Example 2: program that grants access only to kids aged between 8-12 using if and else.

In [31]:
age = 8
if age >= 8 and age <=12:
  print("access granted")
else: 
  print("access not granted")

access granted

In [34]:
age = 11
if age <=12 & age >= 8:
  print("access granted")
else: 
  print("access not granted")

access not granted

In [35]:
age = 11
if (age <=12) & (age >= 8):
  print("access granted")
else: 
  print("access not granted")

access granted

* Difference between "&" and "and"

In [ ]:
import numpy as np

In [ ]:
a = np.array([True, True])
b = np.array([True, False])
  
#print(b and a) # print_stat1
print(b & a) # print_stat2

[ True False]

# Function

* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

In [ ]:
# Creating function

def my_function():
  print("Hello from a function")

In [ ]:
my_function()

Hello from a function

In [ ]:
# argument and return in function
def my_function2( my_num):
  temp = my_num*10+5
  return temp

In [ ]:
my_function2(10)

105

In [ ]:
# Default parameter and multiple parameters
def my_function3(first=10, second=2):
  two_mul = first*second
  return two_mul

In [ ]:
my_function3(2,5)

10

In [ ]:
my_function3(second=10)

100

# Class

In [ ]:
class Dog:
     
    # A simple class
    # attribute
    height = 3
    weight = 5
 
    # A sample method 
    def bark(self):
        print("My height is", self.height)
        print("My weight is", self.weight)
    def eat(self):
        self.height = self.height+1
        self.weight = self.weight+1

In [ ]:
# Object instantiation
Poppy = Dog()

In [ ]:
# Accessing class attributes
print(Poppy.height, Poppy.weight)
Poppy

3 5

In [ ]:
Poppy.bark()

My height is 3
My weight is 5

In [ ]:
Poppy.eat()

In [ ]:
Poppy.bark()

My height is 4
My weight is 6

## The self
Class methods must have an extra first parameter in the method definition. We do not give a value for this parameter when we call the method, Python provides it.

If we have a method that takes no arguments, then we still have to have one argument.

In [ ]:
class Dog:
     
    # A sample method 
    def create(self, inp_height, inp_weight):
        self.height=inp_height
        self.weight=inp_weight
    def bark(self):
        print("My height is", self.height)
        print("My weight is", self.weight)
    def eat(self):
        self.height = self.height+1
        self.weight = self.weight+1

In [ ]:
# and method through objects
Poppy = Dog()
Poppy.create(10,20)
Poppy.bark()

My height is 10
My weight is 20

## __init__ method
The __init__ method is a constructor. Constructors are used to initializing the object’s state. Like methods, a constructor also contains a collection of statements(i.e. instructions) that are executed at the time of Object creation. It runs as soon as an object of a class is instantiated. The method is useful to do any initialization you want to do with your object.

In [ ]:
class Dog:
     
    # A sample method 
    def __init__(self, inp_height, inp_weight):
        self.height=inp_height
        self.weight=inp_weight
    def bark(self):
        print("My height is", self.height)
        print("My weight is", self.weight)
    def eat(self):
        self.height = self.height+1
        self.weight = self.weight+1

In [ ]:
Poppy = Dog(10,10)
Poppy.bark()

My height is 10
My weight is 10

# Python Iterators
* An iterator is an object that contains a countable number of values.
*Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

* All these objects have a iter() method which is used to get an iterator:

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

# print(next(myit))
# print(next(myit))
# print(next(myit))

In [ ]:
for x in myit:
  print(x)

apple
banana
cherry

In [ ]:
for x in myit:
  print(x)