<a href="https://colab.research.google.com/github/youngseo21/stat_programming/blob/main/stat_programming_HW4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

The first step in most data analytics projects is reading the data file. In this exercise, you'll create Series and DataFrame objects, both by hand and by reading data files.

Run the code cell below to load libraries you will need (including code to check your answers).

In [ ]:
import pandas as pd

# Exercises

## 1.

In the cell below, create a DataFrame `fruits` that looks like this:

![](https://i.imgur.com/Ax3pp2A.png)

In [ ]:
fruits = pd.DataFrame({"Apples":[30], "Bananas":[21]})
fruits

   Apples  Bananas
0      30       21

## 2.

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://i.imgur.com/CHPn7ZF.png)

In [ ]:
fruit_sales = pd.DataFrame({"Apples":[35, 41], "Bananas":[21,34]})
fruit_sales.index = ["2017 Sales", "2018 Sales"]
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

## 3.

Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [ ]:
pd.Series(["4 cups", "1 cups", "2 large", "1 can"], 
                        index = ["Flour", "Milk", "Eggs", "Spam"], 
                        name = "ingredients")

Flour     4 cups
Milk      1 cups
Eggs     2 large
Spam       1 can
Name: ingredients, dtype: object

## 4.

Read the following csv dataset of wine reviews into a DataFrame called `reviews` by properly modifying the code below

![](https://i.imgur.com/74RCZtU.png)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
reviews = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ewha_stat_programming/week5_pandas_datafile/winemag-data-130k-v2.csv", index_col=0, header=0)
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In the above, remove the rows with not available data and save the data into "reviews"

In [ ]:
reviews.dropna(axis=0, inplace=True)

In [ ]:
reviews.isna().sum()

country                  0
description              0
designation              0
points                   0
price                    0
province                 0
region_1                 0
region_2                 0
taster_name              0
taster_twitter_handle    0
title                    0
variety                  0
winery                   0
dtype: int64

## 5.

Run the cell below to create and display a DataFrame called `animals`:

In [ ]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In the cell below, write code to save this DataFrame to disk as a csv file with the name `cows_and_goats.csv`, and check it with EXCEL.

In [ ]:
# Your code goes here
animals.to_csv('cows_and_goats.csv')

![Screen Shot 2022-10-12 at 6.51.57 PM.png]()

# From now on, we will use "reviews" data.

## 6.

Select the `description` column from `reviews` and assign the result to the variable `desc`.

In [ ]:
desc = reviews["description"]

Follow-up question: what type of object is `desc`? If you're not sure, you can check by calling Python's `type` function: `type(desc)`.

In [ ]:
type(desc) #Series

pandas.core.series.Series

## 7.

Select the first value from the description column of `reviews`, assigning it to variable `first_description`.

In [ ]:
first_description = reviews.iloc[0,1] 
first_description # 해당 첫번째 관측치는 결측치를 제거 후에 나온 결과값

"Much like the regular bottling from 2012, this comes across as rather rough and tannic, with rustic, earthy, herbal characteristics. Nonetheless, if you think of it as a pleasantly unfussy country wine, it's a good companion to a hearty winter stew."

In [ ]:
reviews = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ewha_stat_programming/week5_pandas_datafile/winemag-data-130k-v2.csv", index_col=0, header=0)
first_description = reviews.iloc[0,1]
first_description # 해당 첫번째 관측치는 결측치를 제거하기 전의 데이터 프레임에서 얻은 결과값

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

## 8. 

Select the first row of data (the first record) from `reviews`, assigning it to the variable `first_row`.

In [ ]:
first_row = reviews.iloc[0,:]
first_row

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

## 9.

Select the first 10 values from the `description` column in `reviews`, assigning the result to variable `first_descriptions`.

Hint: format your output as a pandas Series.

In [ ]:
first_description = reviews["description"].iloc[:10]
first_description

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
5    Blackberry and raspberry aromas show a typical...
6    Here's a bright, informal red that opens with ...
7    This dry and restrained wine offers spice in p...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, dtype: object

In [ ]:
type(first_description)

pandas.core.series.Series

## 10.

Select the records with index labels `4`, `25`, and `35`, assigning the result to the variable `sample_reviews`.

In other words, generate the something like following DataFrame:

![](https://i.imgur.com/sHZvI1O.png)

In [ ]:
sample_reviews = reviews.loc[[4, 25, 35]]
sample_reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
25,US,Oak and earth intermingle around robust aromas...,King Ridge Vineyard,87,69.0,California,Sonoma Coast,Sonoma,Virginie Boone,@vboone,Castello di Amorosa 2011 King Ridge Vineyard P...,Pinot Noir,Castello di Amorosa
35,US,As with many of the Erath 2010 vineyard design...,Hyland,86,50.0,Oregon,McMinnville,Willamette Valley,Paul Gregutt,@paulgwine,Erath 2010 Hyland Pinot Noir (McMinnville),Pinot Noir,Erath

## 11.

Create a variable `df` containing the `country`, `province`, `region_1`, and `region_2` columns of the records with the index labels `4`, `25`, and `35`. In other words, generate something like the following DataFrame:

![](https://i.imgur.com/FUCGiKP.png)

In [ ]:
df = sample_reviews[["country", "province", "region_1", "region_2"]]
df

   country    province           region_1           region_2
4       US      Oregon  Willamette Valley  Willamette Valley
25      US  California       Sonoma Coast             Sonoma
35      US      Oregon        McMinnville  Willamette Valley

## 12.

Create a variable `df` containing the `country` and `variety` columns of the first 100 records. 

Hint: you may use `loc` or `iloc`. When working on the answer this question and the several of the ones that follow, keep the following "gotcha" described in the tutorial:

> `iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. 
`loc`, meanwhile, indexes inclusively. 

> This is particularly confusing when the DataFrame index is a simple numerical list, e.g. `0,...,1000`. In this case `df.iloc[0:1000]` will return 1000 entries, while `df.loc[0:1000]` return 1001 of them!

In [ ]:
df = reviews[["country", "variety"]].iloc[:100]
df

     country                   variety
0      Italy               White Blend
1   Portugal            Portuguese Red
2         US                Pinot Gris
3         US                  Riesling
4         US                Pinot Noir
..       ...                       ...
95    France                     Gamay
96    France                     Gamay
97        US                  Riesling
98     Italy                Sangiovese
99        US  Bordeaux-style Red Blend

[100 rows x 2 columns]

## 13.

Create a DataFrame `oregon_wines` containing reviews of wines made in `Oregon`. Hint: `reviews.province` equals what?

In [ ]:
oregon_wines = reviews[reviews["province"] == "Oregon"]
oregon_wines

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
21,US,"A sleek mix of tart berry, stem and herb, alon...",NaN,87,20.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Acrobat 2013 Pinot Noir (Oregon),Pinot Noir,Acrobat
35,US,As with many of the Erath 2010 vineyard design...,Hyland,86,50.0,Oregon,McMinnville,Willamette Valley,Paul Gregutt,@paulgwine,Erath 2010 Hyland Pinot Noir (McMinnville),Pinot Noir,Erath
41,US,"A stiff, tannic wine, this slowly opens and br...",NaN,86,22.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Hawkins Cellars 2009 Pinot Noir (Willamette Va...,Pinot Noir,Hawkins Cellars
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129733,US,The Nicholas reserve sees one-third new French...,Reserve Nicholas Vineyard,90,50.0,Oregon,Chehalem Mountains,Willamette Valley,Paul Gregutt,@paulgwine,Anam Cara 2014 Reserve Nicholas Vineyard Pinot...,Pinot Noir,Anam Cara
129736,US,This has the pretty slightly candied flavors o...,NaN,90,22.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Black Magnolia 2015 Pinot Noir (Willamette Val...,Pinot Noir,Black Magnolia
129745,US,"Good grip is immediately apparent, along with ...",NaN,90,28.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Clay Pigeon 2013 Pinot Noir (Willamette Valley),Pinot Noir,Clay Pigeon
129746,US,Chewy and packed with flavors of dark chocolat...,Sunny Mountain Vineyard,90,55.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rex Hill 2014 Sunny Mountain Vineyard Pinot No...,Pinot Noir,Rex Hill
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation

## 14.

Create a DataFrame `top_oregon_newyork_wines` containing all reviews with at least 80 points (out of 100) for wines from Oregon or New York.

Hint: use "isin(...)"

In [ ]:
top_oregon_newyork_wines = reviews[reviews["province"].isin(["Oregon","New York"])][reviews.points>=80]
top_oregon_newyork_wines

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
21,US,"A sleek mix of tart berry, stem and herb, alon...",NaN,87,20.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Acrobat 2013 Pinot Noir (Oregon),Pinot Noir,Acrobat
35,US,As with many of the Erath 2010 vineyard design...,Hyland,86,50.0,Oregon,McMinnville,Willamette Valley,Paul Gregutt,@paulgwine,Erath 2010 Hyland Pinot Noir (McMinnville),Pinot Noir,Erath
41,US,"A stiff, tannic wine, this slowly opens and br...",NaN,86,22.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Hawkins Cellars 2009 Pinot Noir (Willamette Va...,Pinot Noir,Hawkins Cellars
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129791,US,"Floral and fruity, with hints of peach, muskme...",NaN,89,18.0,New York,Finger Lakes,Finger Lakes,Anna Lee C. Iijima,NaN,Hazlitt 1852 Vineyards 2011 Sauvignon Blanc (F...,Sauvignon Blanc,Hazlitt 1852 Vineyards
129798,US,"Notes of honeysuckle, white peach and fresh gr...",Semi-Dry,88,19.0,New York,Seneca Lake,Finger Lakes,Anna Lee C. Iijima,NaN,Belhurst 2011 Semi-Dry Riesling (Seneca Lake),Riesling,Belhurst
129805,US,Hints of honeycomb and beeswax add heft to the...,NaN,88,16.0,New York,Finger Lakes,Finger Lakes,Anna Lee C. Iijima,NaN,Penguin Bay 2011 Pinot Grigio (Finger Lakes),Pinot Grigio,Penguin Bay
129874,US,While blossom and melon aromas on this Gewürzt...,NaN,90,22.0,New York,North Fork of Long Island,Long Island,Anna Lee C. Iijima,NaN,Coffee Pot Cellars 2014 Gewurztraminer (North ...,Gewürztraminer,Coffee Pot Cellars
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation

## 15.

What is the median of the `points` column in the `reviews` DataFrame?

In [ ]:
reviews.points.median()

88.0

## 16. 
What countries are represented in the dataset? (Your answer should not include any duplicates.)

In [ ]:
reviews.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

## 17.
How often does each taster appear in the dataset? Create a Series `reviews_per_tastername` mapping taster_name to the count of reviews of wines from that taster.

In [ ]:
reviews_per_tastername = reviews.taster_name.value_counts()
reviews_per_tastername

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

In [ ]:
type(reviews_per_tastername)

pandas.core.series.Series

## 18.
Create variable `centered_price` containing a version of the `price` column with the mean price subtracted using:

1> map() function

2> apply() function

3> None of map() function nor apply() function

(Note: this 'centering' transformation is a common preprocessing step before applying various machine learning algorithms.)

In [ ]:
median = reviews.price.median()
median

25.0

In [ ]:
#1
center_price = reviews.price.map(lambda x: x - 25)
center_price

0          NaN
1        -10.0
2        -11.0
3        -12.0
4         40.0
          ...
129966     3.0
129967    50.0
129968     5.0
129969     7.0
129970    -4.0
Name: price, Length: 129971, dtype: float64

In [ ]:
#2
center_price = reviews.price.apply(lambda x: x - 25)
center_price

0          NaN
1        -10.0
2        -11.0
3        -12.0
4         40.0
          ...
129966     3.0
129967    50.0
129968     5.0
129969     7.0
129970    -4.0
Name: price, Length: 129971, dtype: float64

In [ ]:
#3
center_price = reviews.price - 25
center_price

0          NaN
1        -10.0
2        -11.0
3        -12.0
4         40.0
          ...
129966     3.0
129967    50.0
129968     5.0
129969     7.0
129970    -4.0
Name: price, Length: 129971, dtype: float64

## 19.
I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable `bargain_wine` with the title of the wine with the highest points-to-price ratio in the dataset.

In [ ]:
reviews["points-to-price ratio"] = reviews.points - reviews.price
bargain_wine = reviews.loc[reviews["points-to-price ratio"].idxmax()].title
bargain_wine

'Herdade dos Machados 2012 Toutalga Red (Alentejano)'

## 20.
There are only so many words you can use when describing a bottle of wine. Is a wine more likely to be "tropical" or "fruity"? Create a Series `descriptor_counts` counting how many times each of these two words appears in the `description` column in the dataset.

In [ ]:
n_trop = reviews.description.map(lambda desc: "tropical" in desc).sum()
n_fruity = reviews.description.map(lambda desc: "fruity" in desc).sum()
descriptor_counts = pd.Series([n_trop, n_fruity], index=['tropical', 'fruity'])
descriptor_counts

tropical    3607
fruity      9090
dtype: int64

## 21.
We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

Also, the New York Vintners Association bought a lot of ads on the site, so any wines from New York should automatically get 3 stars, regardless of points.

Create a series `star_ratings` with the number of stars corresponding to each review in the dataset.

In [ ]:
def stars(row):
  if row.country == "New York":
    return 3
  elif row.points >= 95:
    return 3
  elif row.points >= 85:
    return 2
  else:
    return 1

star_rating = reviews.apply(stars, axis = 'columns')

In [ ]:
star_rating

0         2
1         2
2         2
3         2
4         2
         ..
129966    2
129967    2
129968    2
129969    2
129970    2
Length: 129971, dtype: int64

In [ ]:
type(star_rating)

pandas.core.series.Series

# Introduction

In these exercises we'll apply groupwise analysis to our dataset.

Run the code cell below to load the data before running the exercises.

In [ ]:
import pandas as pd

reviews = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ewha_stat_programming/week5_pandas_datafile/winemag-data-130k-v2.csv", index_col=0)
#pd.set_option("display.max_rows", 5)

## 22.
Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [ ]:
common_wine_reviewers = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()
common_wine_reviewers

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: taster_twitter_handle, dtype: int64

## 23.
What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [ ]:
Series = reviews.groupby('price').points.max()
Series

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

## 24.
What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [ ]:
DataFrame = reviews.groupby('variety').price.agg([min, max])
DataFrame

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

## 25.
What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [ ]:
sorted_varieties = reviews.groupby('variety').price.agg([min, max]).sort_values(['min', 'max'], ascending=False)
sorted_varieties

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

## 26.
Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [ ]:
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [ ]:
Series = reviews.groupby("taster_name").mean().points
Series

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

Are there significant differences in the average scores assigned by the various reviewers? Run the cell below to use the `describe()` method to see a summary of the range of values.

In [ ]:
Series.describe()

count    19.000000
mean     88.233026
std       1.243610
min      85.855422
25%      87.323501
50%      88.536235
75%      88.975256
max      90.562551
Name: points, dtype: float64

## 27.
What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [ ]:
Series = reviews.groupby(['country', 'variety']).n.count().sort_values(ascending=False)
Series

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ...
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Name: n, Length: 1612, dtype: int64

## 28. 
What is the data type of the `points` column in the dataset?

In [ ]:
reviews.points.dtype

dtype('int64')

## 29. 
Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [ ]:
point_strings = reviews.points.astype('str')
point_strings

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points, Length: 129971, dtype: object

## 30.
Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [ ]:
missing_prices = reviews.price.isnull().sum()
missing_prices

8996

## 31.
What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [ ]:
reviews_per_region = reviews.region_1.fillna('Unknown').value_counts().sort_values(ascending=False)
reviews_per_region

Unknown                 21247
Napa Valley              4480
Columbia Valley (WA)     4124
Russian River Valley     3091
California               2629
                        ...
Offida Rosso                1
Corton Perrières            1
Isle St. George             1
Geelong                     1
Paestum                     1
Name: region_1, Length: 1230, dtype: int64

## 32.
`region_1` and `region_2` are pretty uninformative names for locale columns in the dataset. Create a copy of `reviews` with these columns renamed to `region` and `locale`, respectively.

In [ ]:
renamed = reviews.rename(columns={'region_1':'region','region_2':'locale'})
renamed.head(2)

,country,description,designation,points,price,province,region,locale,taster_name,taster_twitter_handle,title,variety,winery,n
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,0
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,0

## 33.
Set the index name in the dataset to `wines`.

In [ ]:
reindexed = reviews.rename_axis('wines', axis= 'rows')
reindexed.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,n
wines,,,,,,,,,,,,,,
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,0
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,0

## 34~36

You have the following information on customer.

In [ ]:
import pandas as pd

cust = {"customer_id":[101,102,103,104,105], "name":["Kim", "Tong", "Wang", "Oh", "Lee"], "Gender":["F", "F", "F", "M", "M"]}
customer = pd.DataFrame(cust)
customer

   customer_id  name Gender
0          101   Kim      F
1          102  Tong      F
2          103  Wang      F
3          104    Oh      M
4          105   Lee      M

You also have the following information on the accident:

In [ ]:
acci = {"accident_id":[1,2,3,4,5,6,7,8,9,10], "loss_amount":[345, 210, 230, 102, 441, 981, 104, 85, 102, 76], "year":[2015, 2016, 2017, 2018, 2019, 2020, 2019, 2018, 2017, 2016], "customer_id":[101, 103, 104, 102, 105, 107, 108, 101, 103, 110]}
accident = pd.DataFrame(acci)
accident

   accident_id  loss_amount  year  customer_id
0            1          345  2015          101
1            2          210  2016          103
2            3          230  2017          104
3            4          102  2018          102
4            5          441  2019          105
5            6          981  2020          107
6            7          104  2019          108
7            8           85  2018          101
8            9          102  2017          103
9           10           76  2016          110

Answer the following questions.

## 34. Make a pandas table which include all the information on customer (101~105) and corresponding accidents.

In [ ]:
df = pd.merge(customer, accident, on="customer_id", how="outer")
df

   customer_id  name Gender  accident_id  loss_amount  year
0          101   Kim      F            1          345  2015
1          101   Kim      F            8           85  2018
2          102  Tong      F            4          102  2018
3          103  Wang      F            2          210  2016
4          103  Wang      F            9          102  2017
5          104    Oh      M            3          230  2017
6          105   Lee      M            5          441  2019
7          107   NaN    NaN            6          981  2020
8          108   NaN    NaN            7          104  2019
9          110   NaN    NaN           10           76  2016

## 35. Calculate the total loss for each customer (101~105).

In [ ]:
df.groupby("customer_id").loss_amount.sum()

customer_id
101    430
102    102
103    312
104    230
105    441
107    981
108    104
110     76
Name: loss_amount, dtype: int64

## 36. Calculate the total loss for Female (Gender="F") and Male (Gender="M"), respectively.

In [ ]:
df.groupby("Gender").loss_amount.sum()

Gender
F    844
M    671
Name: loss_amount, dtype: int64